html {
    position: relative;
    min-height: 100%;
}

// html,
// body {
//  overflow-x: hidden; /* Prevent scroll on narrow devices */
// }

body {
    margin-bottom: 60px; // Margin bottom by footer height
}

.card-two-factor {
    background-color: lighten(#6c757d, 50%);
}

.dashboard-link {
    color: $tw-purple-600;
}

