.badge-active {
    color: #38a160;
    background-color: #f0fff4;
}

.badge-nonactive{
    background-color: #FEFCBF;
    color: #ECC94B;
}

.badge-announcement {
    margin-top: -3px;
    color: $white;
    background-color: $tw-purple-500;
}
