.dropdown-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: $body-color;
    text-decoration: none;
    background-color: #f8f9fa;
}
