name: Tests
on: [push, pull_request]

jobs:
  phpunit:
    name: PHPUnit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nathanheffley/laravel-phpunit-action@master
